body {
    background: #000;
    color: #fff;
    margin: 0;
    overflow: hidden;
}

#game-div, #menu-div {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

#menu-div {
    z-index: 1;
    transition: all 2s ease-in-out;
}

#menu-div.hidden { top: -100%; }

#game-canvas {
    transform: scale(.5);
    transform-origin: top left;
}

#menu-iframe {
    position: relative;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border: none;
}
