html, body { height: 100%; }

body {
    display: flex;
    align-items: center;
    justify-content: center;
    background: url("../assets/menu_background.jpg") no-repeat fixed;
    background-size: cover;
    font-size: 18pt;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;
}

input:focus, button:focus { outline: none; }

nav {
    position: absolute;
    top: 0;
    right: 0;
    background: #0004;
    color: #ddd;
    font-size: 10pt;
    padding: 5px;
}
nav > table { border-spacing: 10px 5px; }
nav > table th {
    font-size: 14pt;
    color: #fff;
}

main {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-width: 600px;
    padding: 20px;
    background: #fff6;
    border-radius: 8px;
}

.title { height: 80px; }

label { margin: 20px 0 10px 0; }

input.player-name {
    text-align: center;
    color: #d3d3d3;
    font-size: 24pt;
    font-weight: bold;
    background-color: #00507499;
    padding: 10px;
    border-width: 5px;
    border-color: black;
    border-radius: 50px;
}

.ships {
    display: flex;
    align-items: center;
}

.ships > div {
    background: no-repeat center;
    background-size: 80%;
    width: 100px;
    height: 100px;
    margin: 10px;
    cursor: pointer;
    transition: all .15s ease-in-out;
    opacity: .6;
    border-radius: 8px;
}
.ships > div:nth-child(1) { background-image: url("../assets/players/0/ship.png"); }
.ships > div:nth-child(2) { background-image: url("../assets/players/1/ship.png"); }
.ships > div:nth-child(3) { background-image: url("../assets/players/2/ship.png"); }
.ships > div:nth-child(4) { background-image: url("../assets/players/3/ship.png"); }

.ships > div:hover {
    opacity: 1;
    box-shadow: #a0f8 0 0 5px;
}
.ships > div.selected {
    opacity: 1;
    box-shadow: #a0fa 0 0 10px;
}

button.play-button {
    padding: 10px 40px;
    text-align: center;
    color: #d3d3d3;
    background-color: #531e7499;
    border: 5px solid black;
    border-radius: 100px;
    font-size: 24pt;
    font-family: "Lucida Console", Monaco, monospace;
    font-weight: bold;
    transform: scale(1);
    cursor: pointer;
    transition: all .05s ease-in-out;
}

button.play-button:hover { transform: scale(1.1); }
button.play-button:active { transform: scale(1); }
